@font-face {
  font-family: Gilroy;
  src: url('Gilroy-Light.otf') format('opentype');
}

@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url('Gilroy-ExtraBold.otf') format('opentype');
}
